@import '../../../../App.module.css';

.button {
    margin: 0;
    padding: 0;
    height: 1.15rem;
    width: 1.15rem;

    border: none;
    border-radius: var(--controls-rounding);

    box-shadow:
        0.075rem 0.075rem 0.25rem var(--color-main-shadow),
        -0.075rem -0.075rem 0.75rem var(--color-main-shadow-opposite);

    outline: none;
    cursor: pointer;

    transition: var(--transition-duration);
}
.button:hover {
    filter: brightness(120%);
}

.button.enabled {
    position: relative;
    box-shadow: 
        0.075rem 0.075rem 0.15rem var(--color-main-shadow) inset,
        -0.075rem -0.075rem 0.75rem var(--color-main-shadow-opposite) inset;
}


.icon {
    width: 110%;
    scale: 0.9;
    color: white;
}