@import '../../../App.module.css';

.container {
    width: 80%;
    height: 1.75rem;
    margin: 0 auto;

    vertical-align: middle;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 7rem;

    border: none;
    border-radius: 0.75rem;
    box-shadow: 
        0.075rem 0.075rem 0.15rem var(--color-main-shadow) inset,
        -0.05rem -0.05rem 0.15rem var(--color-main-shadow-opposite) inset;

    color: var(--color-platinum);
    background-color: var(--color-main);
    cursor: pointer;

    transition: var(--transition-duration);
}

.body.active {
    border-radius: 0.75rem 0.75rem 0 0;
    box-shadow: 0 0 0.1rem var(--color-main-shadow) inset;
}

.value {
    align-self: flex-start;
    margin: auto 0;
    padding-left: 0.25rem;
    text-align: start;
    user-select: none;
}

.arrow {
    align-self: flex-end;
    margin: auto 0;
    user-select: none;
}

.optionsList {
    box-sizing: border-box;
    position: fixed;

    width: 7rem;
    background-color: var(--color-main-weak);
    box-shadow: 0 0 0.1rem var(--color-main-shadow) inset;
    border-radius: 0 0 0.75rem 0.75rem;
}

.option {
    width: 100%;
    height: 1.75rem;
    margin: 0;
    text-align: start;

    color: black;
    border: none;
    border-radius: 0.75rem;
    background-color: transparent;

    user-select: none;
    cursor: pointer;
    transition: var(--transition-duration);
}

.option:hover {
    background-color: var(--color-main);
}