@import '../../../App.module.css';

.effectContainer {
    color: var(--color-platinum);
    background-color: var(--color-resin-bright);
    border: 1px solid black;

    margin: 0.5rem 0;
    transition: border var(--transition-duration);
}

.effectContainer:hover {
    border: 0.5px solid var(--color-platinum);
}

.effectContainer.active {
    border: 0.5px solid var(--color-celtic-blue);
}

.effectBody {
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;

    color: var(--color-platinum);
}