@import '../../../App.module.css';

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border: none;
    background-color: var(--color-main);
    cursor: pointer;

    transition: var(--transition-duration);
}

.button.active {
    filter: brightness(1.2);
}

.name {
    height: 2rem;
    line-height: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

.iconContainer {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 0.5rem 0;
}

.icon {
    grid-column: 2;
    height: 5rem;
    margin: auto;
    align-self: center;
}

.arrow {
    grid-column: 3;
    align-self: center;
    margin: 0 auto;
    user-select: none;
}