@import '../../../App.module.css';

.optionsList {
    list-style: none;
    box-sizing: border-box;
    position: fixed;

    width: 7.5rem;
    padding: 0.5rem;

    background-color: var(--color-main);
    border-radius: 0 0 0.75rem 0.75rem;
}