@import '../../../App.module.css';

.container {
    width: 7.5rem;
    height: 7.5rem;
    margin: 1rem 0.5rem;

    vertical-align: middle;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border: none;
    background-color: var(--color-main);
    cursor: pointer;

    transition: var(--transition-duration);
}

.name {
    height: 2rem;
    line-height: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

.iconContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 0.5rem 0;
}

.mainIcon {
    grid-column: 2;
    height: 5rem;
    margin: auto;
    align-self: center;
}

.arrow {
    grid-column: 3;
    align-self: center;
    margin: 0 auto;
    user-select: none;
}

.optionsList {
    list-style: none;
    box-sizing: border-box;
    position: fixed;

    width: 7.5rem;
    padding: 0.5rem;

    background-color: var(--color-main);
    border-radius: 0 0 0.75rem 0.75rem;
}