@import '../../../../App.module.css';

.container {
    width: 7.5rem;
    height: 7.5rem;
    margin: 1rem 0.5rem;

    vertical-align: middle;
}

.optionsList {
    box-sizing: border-box;
    position: fixed;

    width: 7.5rem;
    background-color: var(--color-main);
    border-radius: 0 0 0.75rem 0.75rem;
}

.option {
    width: 97%;
    height: 1.75rem;
    margin: 0 1.5%;
    text-align: start;

    color: black;
    border: none;
    border-radius: 0.75rem;
    background-color: transparent;

    user-select: none;
    cursor: pointer;
    transition: var(--transition-duration);
}

.option:hover {
    background-color: var(--color-main-strong);
}