@import '../../../../../App.module.css';

.container { 
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
    height: 1.25rem;
    margin: 0.1rem 0 0.5rem 0;
}

.button {
    background-color: transparent;

    height: 1.25rem;
    width: 1.25rem;
    padding: 0;

    border: none;

}

.icon {
    height: 90%;
    width: 90%;

    margin: auto;

    fill: var(--color-imperial-red);
    filter: brightness(0.75);
}