@import '../../../../../App.module.css';

.container {
    position: relative;
    width: 10rem;
    height: var(--button-height);
}

.button {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    border: 1px solid black;

    color: var(--color-platinum);
    background-color: var(--color-resin-brighter);

    cursor: pointer;
}

.optionsList {
    position: absolute;
    top: var(--button-height);
    display: flex;
    flex-direction: column;
    list-style: none;

    width: 10rem;
    padding: 0;
}

.listItem {
    width: 100%;
    height: 1.5rem;
}

.listItemButton {
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.listItemButton.disabled {
    cursor: default;
    color: var(--color-main-weak)
}