@import '../../../App.module.css';

.checkbox {
    /* Hide default checkbox */
    -webkit-appearance: none;
    appearance: none;

    /* Custom */
    margin: 0;
    height: 1rem;
    width: 1rem;

    border-radius: var(--controls-rounding);
    box-shadow:
        0.05rem 0.05rem 0.15rem var(--color-main-shadow),
        -0.05rem -0.05rem 0.5rem var(--color-main-shadow-opposite);
    background-color: var(--color-main-strong);
    filter: brightness(110%);

    outline: none;
    cursor: pointer;

    transition: var(--transition-duration);
}
.checkbox:hover {
    filter: brightness(1);
}

.checked {
    position: relative;
    box-shadow: 
        0.075rem 0.075rem 0.15rem var(--color-main-shadow) inset,
        -0.075rem -0.075rem 0.75rem var(--color-main-shadow-opposite) inset;
}

.checked::before {
    position: absolute;
    content: "\2714";
    font-size: 1rem;
    right: 0.075rem;
    top: -0.15rem;
    color: var(--color-resin-black);
}