:root {
    --slider-radius: 0.25rem;
    --transition-duration: 300ms;
}

.trait {
    display: flex;
    width: 100%;
    height: 1.5rem;
}

.trait-name {
    width: 5rem;
    margin: 0;
    padding: 0;

    user-select: none;
}

/* SINGLE SLIDER */





/* "RESET TO DEFAULT" BUTTON */
.reset-default-btn {
    margin-left: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;

    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;
}
.reset-default-btn:hover {
    background-color: var(--btn-hover);
    color: var(--text-color-accent);
}
.reset-default-btn:active {
    transform: rotate(90deg);
    background-color: var(--btn-active);
    color: var(--text-color-accent);
}


/* COLOR PICKER */
.popup {
    position: absolute;
}

.color-picker-preview {
    height: 1.25em;
    width: 2.5em;
    border-radius: var(--slider-radius);
}