:root {
    --slider-radius: 0.25rem;
    --transition-duration: 300ms;
}

.trait {
    display: flex;
    width: 100%;
    height: 1.5rem;
}

.trait-name {
    width: 5rem;
    margin: 0;
    padding: 0;

    user-select: none;
}

/* SINGLE SLIDER */
.input-slider {
    height: 1.25em;
    display: flex;

    background-color: var(--btn);
    border-radius: var(--slider-radius);
    color: var(--text-color-accent);

    text-align: center;
    user-select: none;
    cursor: col-resize;

    transition-duration: var(--transition-duration);
}

.input-slider:hover {
    background-color: var(--btn-hover);
}

.input-slider:active {
    background-color: var(--btn-active);
    color: var(--text-color-active);

    border: 1px solid var(--slider-radius) black;
}

.slider-single {
    width: 7em;
}

.slider-array-three {
    width: 3em;
    margin-right: 5px;
}

.position-color-indicator {
    bottom: 0;
    height: 100%;
    width: 0.25rem;
    background-color: red;
}

.slider-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.9rem;
}

.slider-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    font-size: 0.9rem;
    font-style: normal;

    transition-duration: var(--transition-duration);
}

.slider-arrow.right {
    border-radius: 0 var(--slider-radius) var(--slider-radius) 0;
}

.slider-arrow.left {
    border-radius: var(--slider-radius) 0 0 var(--slider-radius);
}

.input-slider:hover .slider-arrow {
    background-color: var(--btn-active);
}


/* "RESET TO DEFAULT" BUTTON */
.reset-default-btn {
    margin-left: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;

    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;
}
.reset-default-btn:hover {
    background-color: var(--btn-hover);
    color: var(--text-color-accent);
}
.reset-default-btn:active {
    transform: rotate(90deg);
    background-color: var(--btn-active);
    color: var(--text-color-accent);
}


/* COLOR PICKER */
.popup {
    position: absolute;
}

.color-picker-preview {
    height: 1.25em;
    width: 2.5em;
    border-radius: var(--slider-radius);
}

/* DROPDOWN DD */