@import '../../../App.module.css';

.previewContainer {
    height: 1.1rem;
    width: 6rem;
    padding: 0 0.25rem;
    border-radius: var(--controls-rounding);

    background-color: var(--color-main-weak);

    box-shadow: 
        0.025rem 0.025rem 0.15rem var(--color-main-shadow) inset,
        -0.05rem -0.05rem 0.15rem var(--color-main-shadow-opposite) inset;

    user-select: none;
    cursor: pointer;
}

.mapName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1.1rem;
    font-size: 0.8rem;
    color: grey;

    margin: 0;
}



.pickerWindowContainer {
    
}