@import '../../../../App.module.css';

.headerColorPreview {
    box-sizing: border-box;
    margin: 0 auto;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--color-platinum);
    border-radius: 50%;
}