@import '../../../App.module.css';

/* Main */

.modalContents {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    background-color: var(--color-main-weak);
    overflow: hidden;
}

.pageSection {
    margin: 0.75rem 1rem;
}

.sectionTitle {
    margin: 0.2rem 0.5rem;
}

.buttonsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    width: 25rem;
    padding: 0.2rem;

    flex-basis: 45%;
}


/* PageContainer */

.contentsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    height: fit-content;
}

.buttonTopBar {
    display: flex;
    justify-self: start;

    margin: 0.75rem 0 1rem 0.75rem;
    padding: 0;
}