@import '../../App.module.css';

.sidebar {
    width: var(--nav-size);
    height: 100%;
    padding-top: 3rem;
    background-color: var(--color-resin-black);
    box-shadow: 0 10px 10px 5px black;

    position: absolute;
    top: 0;
    left: 0;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

.sidebarItem {
    width: calc(var(--nav-size) * 1);
    height: calc(var(--nav-size) * 1);
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton {
    --button-size: calc(var(--nav-size) * 0.75);
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    margin: 0.1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    text-decoration: none;

    transition: background-color var(--transition-duration);
}

.iconButton:hover {
    background-color: var(--color-platinum);
}

.iconButton.active {
    background-color: var(--color-celtic-blue);
}

.sidebarIcon {
    fill: var(--color-platinum);
    width: 1.5rem;
    height: 1.5rem;
    transition: fill var(--transition-duration);
}

.iconButton:hover .sidebarIcon {
    fill: var(--color-resin-black);
}

.iconButton.active .sidebarIcon {
    fill: var(--color-platinum);
}

.menu {
    position: absolute;
    left: 3.5rem;
    transform: translateY(50%);
    overflow: visible;

    width: 24.5rem;
    padding: 0 0.4rem;

    background-color: var(--color-dark-glass);
}

.menuSection {
    color: var(--color-platinum);
    background-color: var(--color-resin-bright);
    border: 1px solid black;

    margin: 0.5rem 0;
    padding: 0.35rem;
    transition: border var(--transition-duration);
}

.sectionHeader {
    margin: 0.25rem 0 0.75rem 0.25rem;

    font-size: 1rem;
    font-weight: 400;
}



/* COMMON */
.traitContainer {
    display: flex;
    width: 100%;
    height: 2rem;

    align-items: center;
}

.traitName {
    width: 5rem;
    margin: 0 0.75rem 0 0;
    padding: 0;

    font-size: 0.9rem;
    user-select: none;
}