* {
    /* Matte */
    --color-resin-black: #212226;
    --color-resin-bright: #2a2b30;
    --color-resin-brighter: #35363a;
    --color-dark-glass: #1c1d22b0;

    --color-platinum: #e7e0e0;
    --color-grey-dark: #454a4e;
    --color-grey: #bfb9b9;

    --color-sea-green: #018E42;
    --color-celtic-blue: #276FBF;
    --color-imperial-red: #F03A47;

    --m-background-var: #283557;
    --m-clickable: #2d4583;
    --m-clickable-hover: #3e60c1;
    --m-clickable-active: #e7e0e0;

    --dropdown-bg: rgba(42, 44, 45, 0.75);
    --dropdown-item-bg: rgba(49, 49, 50, 0.75);
    --item-header-bg: #3a3b3c;

    --input-height: 1.5rem;
    --dropdown-border-radius: 10px;

    --transition-duration: 300ms;
}


/*  ---------- SIDEBAR ---------- */
.sidebar {
    width: var(--nav-size);
    height: 100%;
    padding-top: 3rem;
    background-color: var(--color-resin-black);
    box-shadow: 0 10px 10px 5px black;

    position: absolute;
    top: 0;
    left: 0;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-item {
    width: calc(var(--nav-size) * 1);
    height: calc(var(--nav-size) * 1);
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.75);
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    margin: 0.1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    text-decoration: none;

    transition: background-color 500ms;
}

.icon-button:hover {
    background-color: var(--color-platinum);
}

.icon-button.active {
    background-color: var(--color-celtic-blue);
}

.sidebar-icon {
    fill: var(--color-platinum);
    width: 1.5rem;
    height: 1.5rem;
    transition: fill 500ms;
}

.icon-button:hover .sidebar-icon {
    fill: var(--color-resin-black);
}

.icon-button.active .sidebar-icon {
    fill: var(--color-platinum);
}


/*  ---------- DROPDOWN ---------- */
.dropdown {
    position: absolute;
    left: 3.5rem;
    transform: translateY(50%);
    overflow: visible;

    width: 300px;
    padding: 0 0.4rem;

    background-color: var(--color-dark-glass);
}

.dropdown-item {
    background-color: var(--color-resin-brighter);
    border: 1px solid black;

    margin: 0.5rem 0;
    transition: border 300ms;
}

.dropdown-item.active {
    border: 0.5px solid var(--color-celtic-blue);
}

.dropdown-item-header {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 0.25rem;
    align-items: center;

    width: 100%;
    height: 2.5rem;
    padding: 0.25rem 0.5rem;

    background-color: var(--color-resin-bright);
}

.dropdown-item-header .header-icon {
    width: 100%;
    height: 100%;
    color: var(--color-platinum);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.dropdown-item-header .dd-wrapper {
    width: 7rem;
    height: 1.75rem;
    margin: 0 auto;

    vertical-align: middle;
}

.dropdown-item-header .dd-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 7rem;
    border: 1px solid var(--color-resin-black);

    color: var(--color-platinum);
    background-color: var(--color-resin-brighter);
}

.dropdown-item-header .dd-header-title {
    align-self: flex-start;
    margin: auto 0;
    text-align: start;

    user-select: none;
}

.dropdown-item-header .dd-header-arrow {
    align-self: flex-end;
    margin: auto 0;

    user-select: none;
}

.dropdown-item-header .dd-list {
    box-sizing: border-box;
    position: fixed;

    width: 7rem;
    border: 1px solid var(--color-dark-glass);
    background-color: none;
    z-index: 1;
}

.dropdown-item-header .dd-list-item {
    width: 100%;
    height: 1.75rem;
    margin: 0;
    text-align: start;

    color: var(--color-grey);
    border: none;
    background-color: var(--color-resin-bright);

    user-select: none;
    transition: filter 300ms;
}

.dropdown-item-header .dd-list-item:hover {
    filter: brightness(1.75);
    color: var(--color-platinum);
}

.dropdown-item-header .color-preview {
    display: block;
    margin: 0 auto;
    height: 0.85rem;
    width: 0.85rem;
    border: 1px solid var(--color-resin-black);
    border-radius: 50%;
}

.dropdown-item-header .show-hide {
    padding-top: 0.2rem;
    transform: scale(1.2);
    color: var(--color-platinum);
}

.dropdown-item-header .visibility-icon {
    padding-bottom: 0.1rem;
    transform: scale(1.2);
}

.visibility-icon.suppressed {
    color: black;
}

/* Objects traits */
.dropdown-item-body {
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;

    color: var(--color-platinum);
}

/*

.dd-wrapper {
    width: 7em;
    transition: height 1.5s;
}

.dd-header {
    height: var(--input-height);
    width: 100%;

    display: flex;
    flex-direction: row;

    background-color: transparent;
}

.dd-header-title {
    height: 75%;
    width: 75%;

    margin: 0;
}

.dd-header-arrow {
    position: relative;
    --width: 25%;
    right: 0;
}

.dd-list {
    position: fixed;
}

.dd-list-item {
    height: var(--input-height);
    width: 100%;
}
*/

/* INPUT */
.input-slider {
    height: 1.25em;
    display: flex;

    background-color: var(--color-resin-black);
    border-radius: var(--slider-radius);
    color: var(--color-grey);

    text-align: center;
    user-select: none;
    cursor: col-resize;

    transition-duration: var(--transition-duration);
}

.input-slider:hover {
    background-color: var(--color-resin-brighter);
}

.input-slider:active {
    filter: brightness(1.35);
    color: var(--text-color-active);
}

.slider-single {
    width: 7em;
}

.slider-array-three {
    width: 3.5em;
    margin-right: 5px;
}

.position-color-indicator {
    bottom: 0;
    height: 100%;
    width: 0.25rem;
}

.slider-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.9rem;
}

.slider-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    font-size: 0.9rem;
    font-style: normal;
    
    color: var(--color-grey);
    background-color: var(--color-resin-bright);

    transition-duration: var(--transition-duration);
}

.slider-arrow.right {
    border-radius: 0 var(--slider-radius) var(--slider-radius) 0;
}

.slider-arrow.left {
    border-radius: var(--slider-radius) 0 0 var(--slider-radius);
}

.input-slider:hover .slider-arrow,
.input-slider:active .slider-arrow {
    background-color: var(--color-celtic-blue);
    color: var(--color-platinum);
}