@import '../../App.module.css';

* {
    color: black;        
}


/* SIDEBAR */
.sidebar {
    width: var(--nav-size);
    height: 100%;
    padding-top: 1rem;
    margin-left: 0.5rem;

    position: absolute;
    top: 0;
    left: 0;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

/* SIDEBAR MENUS AND ITEMS */
.menu {
    position: absolute;
    left: var(--nav-size);
    transform: translateY(32%);
    overflow: visible;

    width: 24.5rem;
    margin-left: 1rem;
    padding: 0 0.4rem;

    border-radius: 1rem;
    box-shadow: 
        0.2rem 0.2rem 0.75rem 0.1rem var(--color-main-shadow),
        -0.05rem -0.05rem 0.25rem 0.05rem var(--color-main-shadow),
        0.3rem 0.3rem 1rem 0.15rem var(--color-main-shadow-opposite) inset;

    background-color: var(--color-main);
}

.menuSection {
    margin: 0.5rem 2%;
    padding: 0.35rem;
    width: 95%;

    transition: border var(--transition-duration);
}

.sectionHeader {
    margin: 0.25rem 0 0.5rem 0;

    font-size: 1rem;
    font-weight: 400;
}


/* MENU ITEMS */
.listItemContainer {
    color: var(--color-platinum);
    background-color: var(--color-main-weak);
    border-radius: var(--sections-rounding);
    box-shadow: 0.15rem 0.15rem 0.35rem 0 var(--color-main-shadow);

    margin: 0.5rem 0;
}

.listItemBody {
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;

    color: var(--color-platinum);
}


/* TRAITS */
.traitContainer {
    display: flex;
    width: 100%;
    height: 1.75rem;

    align-items: center;
}

.traitName {
    width: 5rem;
    margin: 0 0.75rem 0 0;
    padding: 0;

    font-size: 0.9rem;
    user-select: none;
}