* {
    --dropdown-bg: rgba(42, 44, 45, 0.75);
    --dropdown-item-bg: rgba(49, 49, 50, 0.75);
    --item-header-bg: #3a3b3c;

    --input-height: 1.5rem;
    --dropdown-border-radius: 10px;

    --transition-duration: 300ms;
}

.sidebar {
    width: var(--nav-size);
    padding-top: 5rem;
    background-color: transparent;

    position: absolute;
    top: 0;
    left: 0;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-item {
    width: calc(var(--nav-size) * 1);
    height: calc(var(--nav-size) * 1);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.75);
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    margin: 0.1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
    background-color: #484a4d;
    text-decoration: none;

    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.35);
}

.icon-button svg {
    width: 1.5rem;
    height: 1.5rem;
}

/*  ---------- DROPDOWN ---------- */
/* Dropdown Menu */
.dropdown {
    position: absolute;
    left: 3.5rem;
    transform: translateY(50%);

    width: 300px;
    padding: 0 0.4rem;

    background-color: var(--dropdown-bg);
    border-radius: var(--dropdown-border-radius);
    overflow: visible;
}

.dropdown-item {
    background-color: var(--dropdown-item-bg);
    border-radius: var(--dropdown-border-radius);
    margin: 0.5rem 0;
}

.dropdown-item-header {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 0.25rem;
    align-items: center;

    width: 100%;
    height: 2.5rem;
    padding: 0.25rem 0.5rem;

    background-color: var(--item-header-bg);
    border-radius: var(--dropdown-border-radius);
}

.dropdown-item-header .header-icon {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

/* type dropdown */
.light-type-dropdown {
    height: var(--input-height);
    width: 75%;
    margin-left: 0.5rem;
    padding: 0 0.25rem;

    background-color: transparent;
    color: var(--text-color);

    border: none;
    border-radius: 0;
}

.light-type-dropdown:hover,
.light-type-dropdown:focus {
    appearance: none;
}

.dropdown-item-header .color-preview {
    display: block;
    margin: 0 auto;
    height: 0.75rem;
    width: 0.75rem;
    border: 2px solid #474a4d;
    border-radius: 50%;
}

.dropdown-item-header .show-hide {
    padding-top: 0.2rem;
}

.dropdown-item-header .visibility-icon {
    padding-bottom: 0.1rem;
}

.visibility-icon.suppressed {
    color: var(--text-color-suppressed);
}

/* Objects traits */
.dropdown-item-body {
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
}