@import '../../../App.module.css';

.popup {
    position: fixed;
}

.colorPreview {
    height: 1rem;
    width: 4rem;
    border-radius: var( --controls-rounding);

    box-shadow: 
        0.075rem 0.075rem 0.25rem var(--color-main-shadow) inset,
        -0.05rem -0.05rem 0.15rem var(--color-main-shadow-opposite) inset;

    user-select: none;
    cursor: pointer;
}