@import '../../../App.module.css';

.button {
    background-color: transparent;

    height: 1.25rem;
    width: 1.25rem;
    padding: 0;

    border: none;

}

.icon {
    height: 90%;
    width: 90%;

    margin: auto;

    fill: var(--color-imperial-red);
    filter: brightness(0.75);
}