@import '../../../App.module.css';

.slider {
    height: 1.25em;
    width: 7em;
    display: flex;

    background-color: var(--color-resin-black);
    border-radius: var(--slider-radius);
    color: var(--color-grey);

    text-align: center;
    user-select: none;
    cursor: col-resize;

    transition-duration: var(--transition-duration);
}
.slider:hover {
    color: var(--color-resin-black);
    background-color: var(--color-platinum);
}
.slider:active {
    --filter: brightness(1.35);
    background-color: var(--color-celtic-blue);
    color: var(--color-platinum);
}

.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    font-size: 0.9rem;
    font-style: normal;
    
    color: var(--color-grey);
    background-color: var(--color-resin-bright);

    transition-duration: var(--transition-duration);
}

.arrow.right {
    border-radius: 0 var(--slider-radius) var(--slider-radius) 0;
}

.arrow.left {
    border-radius: var(--slider-radius) 0 0 var(--slider-radius);
}

.slider:hover .arrow {
    background-color: var(--color-platinum);
    color: var(--color-resin-black);
}
.slider:active .arrow {
    background-color: var(--color-celtic-blue);
    color: var(--color-platinum);
}

.value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.9rem;
}

.resetButton {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: var(--color-platinum);

    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;
}
.resetButton:hover {
    background-color: var(--color-platinum);
    color: var(--color-resin-black);
}
.resetButton:active {
    transform: rotate(90deg);
    background-color: var(--color-celtic-blue);
    color: var(--color-platinum);
}