@import '../../../App.module.css';

.button {
    height: 1.75rem;
    width: 1.75rem;
    font-size: medium;
    line-height: 1.5rem;
    margin: auto;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;

    border-radius: 50%;
    color: var(--color-platinum);
    background-color: var(--color-celtic-blue);
    border: 1px solid var(--color-resin-black);

    transition: color var(--transition-duration),
                background-color var(--transition-duration);
}

.button:hover,
.button.suppressed:hover {
    color: var(--color-resin-black);
    background-color: var(--color-platinum);
}

.button.suppressed {
    color: var(--color-grey-dark);
    background-color: var(--color-resin-black);
    border: 1px solid var(--color-grey-dark);
}

.dropdown-item-header .header-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}