@import '../../../../App.module.css';

.expendableContainer {
    width: 100%;
    margin: 0 0 0.25rem 0;
    padding: 0;
}

.containerName {
    cursor: pointer;
    font-size: var(--size-text-normal);
}

.traitsContainer {
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 1rem;
}