@import '../../../../App.module.css';

.containerName {
    cursor: pointer;
    font-size: var(--size-text-normal);
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.column1 {
    padding-left: 0.75rem;
    grid-column: 1;
}

.column2 {
    position: relative;
    grid-column: 2;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.buttonContainer {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 49%;
    left: 15%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}