@import '../../../../App.module.css';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0.5rem 0;

    align-items: center;
}

.sectionName {
    align-self: flex-start;
    margin: 0 0.75rem 0 0;
    padding: 0;

    font-size: 0.9rem;
    user-select: none;
}

.traitsList {
    padding: 0 0 0 1rem;
    width: 100%;
    align-self: flex-start;
    list-style: none;
}

.traitContainer {
    
}